@model TrashPickup.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dt>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dt>
       
       
        <dt>Amount owed:</dt>
        
        <dd> 
            @Html.DropDownList("Schedule Vacation", "Change Pickup Day")
        </dd>


        
    </dl>
    
    <style>
        dl {
        width: 100%;
        overflow: hidden;
        background: #ff0;
        padding: 0;
        margin: 0
    }
    dt {
        float: left;
        width: 50%;
    /* adjust the width; make sure the total of both is 100% */
        background: #cc0;
        padding: 0;
        margin: 0
    }
    dd {
        float: left;
        width: 50%;
    /* adjust the width; make sure the total of both is 100% */
        background: #dd0
        padding: 0;
        margin: 0
    }
    </style>





</div>

